<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <main class="elements_nav">
            <div class="div_drapeau">
                <a href="#"><img src="/assets/images_code/Drapeau_states.svg" alt=""></a>
            </div>
            <ul class="div_elem_jeu">
                <li class="elem"><a href="#"><img src="/assets/images_code/Gemme.svg" alt=""><span>200</span></a></li>
                <li class="elem"><a href="#"><img src="/assets/images_code/Modifier.svg" alt=""><span>5</span></a></li>
                <li class="elem">
                    <a href="#"><img src="/assets/images_code/Cartes.svg" alt=""><span>{{ remainingTranslations }}</span></a>
                </li>                  
            </ul>
        </main>
    </nav>
</body>
</html>