<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <a routerLink="/Jeux/jeu_de_liaison"><div class="jeu">
            <h1>Jeu de liaison</h1>
            <img src="/assets/images_code/image_relier.svg" alt="">
        </div></a>
        <a routerLink="/Jeux/jeu_quizz"><div class="jeu">
                <h1>Quizz</h1>
                <img src="/assets/images_code/image_quizz.svg" alt="">
        </div></a>
    </main>
</body>
</html>