main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px 10px;
    padding: 10px;
}

main .jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 75px 75px 75px;
    gap: 30px;

    border: 3px solid var(--couleur-3);
    border-radius: 30px;
    cursor: pointer;
}

main h1 {
    font-size: var(--taille-titre1);
    color: var(--couleur-texte);
    font-weight: var(--font-titre1);
}