<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="page">
    <app-sidebar *ngIf="getActiveRoute()?.path !== 'Jeux/jeu_de_liaison' && 
    getActiveRoute()?.path !== 'Jeux/jeu_quizz' &&
    getActiveRoute()?.path !== 'Connexion' &&
    getActiveRoute()?.path !== 'Inscription'"
    ></app-sidebar>
    <div class="main">
      <app-navbar *ngIf="getActiveRoute()?.path !== 'Jeux/jeu_de_liaison' && 
      getActiveRoute()?.path !== 'Jeux/jeu_quizz' &&
      getActiveRoute()?.path !== 'Connexion' &&
      getActiveRoute()?.path !== 'Inscription'"
      ></app-navbar>
      <main *ngIf="getActiveRoute()?.path !== 'Jeux/jeu_de_liaison' && 
      getActiveRoute()?.path !== 'Jeux/jeu_quizz' &&
      getActiveRoute()?.path !== 'Connexion' &&
      getActiveRoute()?.path !== 'Inscription'"
      class="nav_plus">
        <div>
          <img src="/assets/images_code/Plus.svg" alt="">
        </div>
        <h1 [ngClass]="{'active': getActiveRoute() !== undefined}">{{getRouteTitle(getActiveRoute())}}</h1>
        <div>
          <img src="/assets/images_code/trois_points.png" alt="">
        </div>
      </main>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>