<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="div_logo">
            <img src="/assets/images_code/Logo_sidebar.svg" alt="">
        </div>
        <div class="div_liens">
            <div class="lien_sidebar"><a routerLink="/Mots">
                <img src="/assets/images_code/icone_maison.svg" alt=""><span>Mots</span></a>
            </div>
            <div class="lien_sidebar"><a routerLink="/Traduction">
                <img src="/assets/images_code/icone_traduction.svg" alt=""><span>Traduire</span></a>
            </div>
            <div class="lien_sidebar"><a routerLink="/Boutique">
                <img src="/assets/images_code/icone_boutique.svg" alt=""><span>Boutique</span></a>
            </div>
            <div class="lien_sidebar"><a routerLink="/Jeux">
                <img src="/assets/images_code/icone_jeux.svg" alt=""><span>Jeux</span></a>
            </div>
        </div>
    </div>
</body>
</html>
