<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="boutique">
<!--Partie Achat Diamants-->
        <div class="gemmes">
            <h3>50</h3>
            <div>
                <img src="/assets/images_code/tas_de_gemmes.svg" alt="">
            </div>
            <h1 class="prix">5 €</h1>
        </div>
        <div class="gemmes">
            <h3>100</h3>
            <div>
                <img src="/assets/images_code/coffre_de_gemmes.svg" alt="">
            </div>
            <h1 class="prix">8 €</h1>
        </div>
        <div class="gemmes">
            <h3>300</h3>
            <div>
                <img src="/assets/images_code/super_coffre_de_gemmes.svg" alt="">
            </div>
            <h1 class="prix">20 €</h1>
        </div>

<!--Partie Achat Cartes-->
        <div class="cards">
            <h3>10</h3>
            <div>
                <img src="/assets/images_code/Tas_de_cartes.svg" alt="">
            </div>
            <h1 class="prix">4,5 €</h1>
        </div>
        <div class="cards">
            <h3>20</h3>
            <div>
                <img src="/assets/images_code/pile_de_cartes.svg" alt="">
            </div>
            <h1 class="prix">8 €</h1>
        </div>
        <div class="cards">
            <h3>50</h3>
            <div>
                <img src="/assets/images_code/coffre_de_cartes.svg" alt="">
            </div>
            <h1 class="prix">20 €</h1>
        </div>

<!--Partie Achat Changements-->
        <div class="modify">
            <h3>10</h3>
            <div>
                <img src="/assets/images_code/changements_un.svg" alt="">
            </div>
            <h1 class="prix">2 €</h1>
        </div>
        <div class="modify">
            <h3>20</h3>
            <div>
                <img src="/assets/images_code/changements_deux.svg" alt="">
            </div>
            <h1 class="prix">3,5 €</h1>
        </div>
        <div class="modify">
            <h3>50</h3>
            <div>
                <img src="/assets/images_code/changements_trois.svg" alt="">
            </div>
            <h1 class="prix">8 €</h1>
        </div>
        
<!--Partie Abonnements-->
        <div class="abo" style="border: 3px solid var(--couleur-3);">
            <div class="abo_elem">
                <div class="titre_abo">
                    <h1>BASIC</h1>
                </div>
                <div class="prod_abo">
                    <div><img src="/assets/images_code/Modifier.svg" alt=""><span>5</span></div>
                    <div><img src="/assets/images_code/Cartes.svg" alt=""><span>5</span></div>
                </div>
                <div class="par_jour">
                    <h3>Par Jour</h3>
                </div>
            </div>
            <div class="prix">
                <h1>GRATUIT</h1>
            </div>
        </div>

        <div class="abo" style="border: 3px solid var(--couleur-2);">
            <div class="abo_elem">
                <div class="titre_abo">
                    <h1>SUPER</h1>
                </div>
                <div class="prod_abo">
                    <div><img src="/assets/images_code/Modifier.svg" alt=""><span>30</span></div>
                    <div><img src="/assets/images_code/Cartes.svg" alt=""><span>15</span></div>
                </div>
                <div class="par_jour">
                    <h3>Par Jour</h3>
                </div>
            </div>
            <div class="prix">
                <h1>4,99 €/mois</h1>
            </div>
        </div>

        <div class="abo" style="border: 3px solid var(--couleur-texte);">
            <div class="abo_elem">
                <div class="titre_abo">
                    <h1>PREMIUM</h1>
                </div>
                <div class="prod_abo">
                    <div><img src="/assets/images_code/Modifier.svg" alt=""><span>50</span></div>
                    <div><img src="/assets/images_code/Cartes.svg" alt=""><span>30</span></div>
                </div>
                <div class="par_jour">
                    <h3>Par Jour</h3>
                </div>
            </div>
            <div class="prix_abo">
                <h1>12,99 €/mois</h1>
            </div>
        </div>
    </main>
</body>
</html>